In [23]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.formula.api import mixedlm
from statsmodels.stats.anova import AnovaRM
from statsmodels.regression.mixed_linear_model import MixedLM

<h1>CREDYT 08.23-04.24<h1>

<h2>całość<h2>

In [24]:
domy_credyt_all_filtered = pd.read_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/Ready_to_use/domy_credyt_all_GOOD_filtered_cols.csv')
domy_credyt_all_filtered.head()

,city,type,squareMeters,rooms,floor,floorCount,buildYear,centreDistance,ownership,condition,hasParkingSpace,hasBalcony,hasStorageRoom,price,date
0,szczecin,blockOfFlats,63.00,3.0,4.0,10.0,1980.0,6.53,condominium,NaN,yes,yes,yes,415000,2023-08
1,szczecin,blockOfFlats,36.00,2.0,8.0,10.0,NaN,2.15,cooperative,NaN,no,yes,yes,395995,2023-08
2,szczecin,tenement,73.02,3.0,2.0,3.0,NaN,3.24,condominium,NaN,no,no,no,565000,2023-08
3,szczecin,tenement,87.60,3.0,2.0,3.0,NaN,2.27,condominium,NaN,yes,yes,yes,640000,2023-08
4,szczecin,blockOfFlats,66.00,3.0,1.0,3.0,NaN,4.07,condominium,NaN,no,no,no,759000,2023-08

In [25]:
# Mixed linear model
model = mixedlm("price ~ C(date)", domy_credyt_all_filtered, groups=domy_credyt_all_filtered["city"])
result = model.fit()
print(result.summary())

                     Mixed Linear Model Regression Results
===============================================================================
Model:                  MixedLM      Dependent Variable:      price
No. Observations:       153836       Method:                  REML
No. Groups:             15           Scale:                   112058623434.2864
Min. group size:        1475         Log-Likelihood:          -2175224.5440
Max. group size:        45761        Converged:               Yes
Mean group size:        10255.7
-------------------------------------------------------------------------------
                        Coef.       Std.Err.   z    P>|z|   [0.025     0.975]
-------------------------------------------------------------------------------
Intercept               525025.612 52770.848  9.949 0.000 421596.650 628454.574
C(date)[T.2023-09]       21630.124  3539.062  6.112 0.000  14693.689  28566.558
C(date)[T.2023-10]       35828.091  3556.168 10.075 0.000  28858.131  42798.052
C(date)[T.2023-11]       52416.081  3578.674 14.647 0.000  45402.009  59430.153
C(date)[T.2023-12]      113002.650  3568.325 31.668 0.000 106008.860 119996.439
C(date)[T.2024-01]      122211.486  3626.936 33.696 0.000 115102.823 129320.149
C(date)[T.2024-02]      123966.382  3575.379 34.672 0.000 116958.768 130973.996
C(date)[T.2024-03]      127358.295  3522.195 36.159 0.000 120454.919 134261.671
C(date)[T.2024-04]      123287.210  3429.384 35.950 0.000 116565.742 130008.679
Group Var          41667533496.306 47521.146
===============================================================================

<h2>mediany<h2>

In [26]:
domy_credyt_mediany = domy_credyt_all_filtered = pd.read_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/Ready_to_use/domy_credyt_mediany_wp_ws.csv')
domy_credyt_mediany.head()

,okres,mediana_gdansk_wlasnosc_prywatna,mediana_gdansk_wspoldzielnia,mediana_krakow_wlasnosc_prywatna,mediana_krakow_wspoldzielnia,mediana_poznan_wlasnosc_prywatna,mediana_poznan_wspoldzielnia,mediana_warszawa_wlasnosc_prywatna,mediana_warszawa_wspoldzielnia,mediana_wroclaw_wlasnosc_prywatna
0,sierpien_2023,12128.378,10954.407,13139.696,11227.041,9978.409,8576.159,14939.304,12990.291,11327.594
1,wrzesien_2023,12501.956,11141.026,13505.959,11581.325,10150.574,8986.486,15531.915,13583.138,11410.055
2,pazdziernik_2023,12725.490,11730.221,14445.856,12084.546,10239.373,9148.936,15973.488,13865.672,11688.963
3,listopad_2023,12914.216,11739.130,14812.500,12952.010,10367.500,9292.365,16237.152,14316.486,11924.383
4,grudzien_2023,13730.887,11393.443,15775.862,13500.000,10900.000,9476.102,16981.132,14904.518,12363.636

In [27]:
domy_credyt_mediany_wp = domy_credyt_mediany[['okres','mediana_gdansk_wlasnosc_prywatna','mediana_poznan_wlasnosc_prywatna','mediana_poznan_wlasnosc_prywatna','mediana_warszawa_wlasnosc_prywatna','mediana_wroclaw_wlasnosc_prywatna']]
domy_credyt_mediany_wp.head()

,okres,mediana_gdansk_wlasnosc_prywatna,mediana_poznan_wlasnosc_prywatna,mediana_poznan_wlasnosc_prywatna,mediana_warszawa_wlasnosc_prywatna,mediana_wroclaw_wlasnosc_prywatna
0,sierpien_2023,12128.378,9978.409,9978.409,14939.304,11327.594
1,wrzesien_2023,12501.956,10150.574,10150.574,15531.915,11410.055
2,pazdziernik_2023,12725.490,10239.373,10239.373,15973.488,11688.963
3,listopad_2023,12914.216,10367.500,10367.500,16237.152,11924.383
4,grudzien_2023,13730.887,10900.000,10900.000,16981.132,12363.636

In [28]:
domy_credyt_mediany_wp_melt = domy_credyt_mediany_wp.melt(id_vars=["okres"], var_name="Miasto", value_name="wlasnosc_prywatna")

# Definition of a mixed-effects model
model = mixedlm("wlasnosc_prywatna ~ C(okres,Treatment(reference='sierpien_2023'))", domy_credyt_mediany_wp_melt, groups=domy_credyt_mediany_wp_melt["Miasto"])
result = model.fit()

print(result.summary())

                                         Mixed Linear Model Regression Results
=======================================================================================================================
Model:                                MixedLM                   Dependent Variable:                   wlasnosc_prywatna
No. Observations:                     45                        Method:                               REML
No. Groups:                           4                         Scale:                                84532.7937
Min. group size:                      9                         Log-Likelihood:                       -272.6127
Max. group size:                      18                        Converged:                            Yes
Mean group size:                      11.2
-----------------------------------------------------------------------------------------------------------------------
                                                                      Coef.     Std.Err.   z   P>|z|  [0.025    0.975]
-----------------------------------------------------------------------------------------------------------------------
Intercept                                                            12195.417  1295.904 9.411 0.000 9655.493 14735.342
C(okres, Treatment(reference='sierpien_2023'))[T.grudzien_2023]       1304.712   183.883 7.095 0.000  944.307  1665.117
C(okres, Treatment(reference='sierpien_2023'))[T.kwiecien_2024]       1808.580   183.883 9.835 0.000 1448.175  2168.985
C(okres, Treatment(reference='sierpien_2023'))[T.listopad_2023]        691.731   183.883 3.762 0.000  331.326  1052.136
C(okres, Treatment(reference='sierpien_2023'))[T.luty_2024]           1679.718   183.883 9.135 0.000 1319.313  2040.123
C(okres, Treatment(reference='sierpien_2023'))[T.marzec_2024]         1758.921   183.883 9.565 0.000 1398.516  2119.326
C(okres, Treatment(reference='sierpien_2023'))[T.pazdziernik_2023]     502.919   183.883 2.735 0.006  142.514   863.324
C(okres, Treatment(reference='sierpien_2023'))[T.styczen_2024]        1477.257   183.883 8.034 0.000 1116.852  1837.662
C(okres, Treatment(reference='sierpien_2023'))[T.wrzesien_2023]        278.596   183.883 1.515 0.130  -81.809   639.001
Group Var                                                          6649133.638 19523.973
=======================================================================================================================

In [29]:

domy_credyt_mediany_wp_melt = domy_credyt_mediany_wp.melt(id_vars=["okres"], var_name="Miasto", value_name="wlasnosc_prywatna")
domy_credyt_mediany_wp_melt['okres'] = pd.Categorical(domy_credyt_mediany_wp_melt['okres'],
                                                      categories=["sierpien_2023", "wrzesien_2023", "pazdziernik_2023", "listopad_2023","grudzien_2023","styczen_2024","luty_2024","marzec_2024","kwiecien_2024"],
                                                      ordered=True)

# Definition of a mixed-effects model
model = MixedLM.from_formula("wlasnosc_prywatna ~ C(okres, Treatment(reference='sierpien_2023'))", 
                             groups=domy_credyt_mediany_wp_melt["Miasto"], 
                             data=domy_credyt_mediany_wp_melt)
result = model.fit()

print(result.summary())

                                         Mixed Linear Model Regression Results
=======================================================================================================================
Model:                                MixedLM                   Dependent Variable:                   wlasnosc_prywatna
No. Observations:                     45                        Method:                               REML
No. Groups:                           4                         Scale:                                84532.7937
Min. group size:                      9                         Log-Likelihood:                       -272.6127
Max. group size:                      18                        Converged:                            Yes
Mean group size:                      11.2
-----------------------------------------------------------------------------------------------------------------------
                                                                      Coef.     Std.Err.   z   P>|z|  [0.025    0.975]
-----------------------------------------------------------------------------------------------------------------------
Intercept                                                            12195.417  1295.904 9.411 0.000 9655.493 14735.342
C(okres, Treatment(reference='sierpien_2023'))[T.wrzesien_2023]        278.596   183.883 1.515 0.130  -81.809   639.001
C(okres, Treatment(reference='sierpien_2023'))[T.pazdziernik_2023]     502.919   183.883 2.735 0.006  142.514   863.324
C(okres, Treatment(reference='sierpien_2023'))[T.listopad_2023]        691.731   183.883 3.762 0.000  331.326  1052.136
C(okres, Treatment(reference='sierpien_2023'))[T.grudzien_2023]       1304.712   183.883 7.095 0.000  944.307  1665.117
C(okres, Treatment(reference='sierpien_2023'))[T.styczen_2024]        1477.257   183.883 8.034 0.000 1116.852  1837.662
C(okres, Treatment(reference='sierpien_2023'))[T.luty_2024]           1679.718   183.883 9.135 0.000 1319.313  2040.123
C(okres, Treatment(reference='sierpien_2023'))[T.marzec_2024]         1758.921   183.883 9.565 0.000 1398.516  2119.326
C(okres, Treatment(reference='sierpien_2023'))[T.kwiecien_2024]       1808.580   183.883 9.835 0.000 1448.175  2168.985
Group Var                                                          6649133.638 19523.973
=======================================================================================================================

In [30]:
# Melting data
domy_credyt_mediany_wp_melt = domy_credyt_mediany_wp.melt(id_vars=["okres"], var_name="Miasto", value_name="wlasnosc_prywatna")
domy_credyt_mediany_wp_melt['okres'] = pd.Categorical(domy_credyt_mediany_wp_melt['okres'],
                                                      categories=["sierpien_2023", "wrzesien_2023", "pazdziernik_2023", "listopad_2023","grudzien_2023","styczen_2024","luty_2024","marzec_2024","kwiecien_2024"],
                                                      ordered=True)

# Definition of a mixed-effects model
model = MixedLM.from_formula("wlasnosc_prywatna ~ C(okres, Treatment(reference='sierpien_2023'))", 
                             groups=domy_credyt_mediany_wp_melt["Miasto"], 
                             data=domy_credyt_mediany_wp_melt)
result = model.fit()

summary = result.summary()

print(summary)

# # Display only the column of coefficients (Coef.) in percentage format
# coef_table = summary.tables[1]['Coef.']
# coef_table_numeric = pd.to_numeric(coef_table, errors='coerce') * 100
# coef_table_formatted = coef_table_numeric.apply(lambda x: '{:.2f}%'.format(x))
# print(coef_table_formatted)

                                         Mixed Linear Model Regression Results
=======================================================================================================================
Model:                                MixedLM                   Dependent Variable:                   wlasnosc_prywatna
No. Observations:                     45                        Method:                               REML
No. Groups:                           4                         Scale:                                84532.7937
Min. group size:                      9                         Log-Likelihood:                       -272.6127
Max. group size:                      18                        Converged:                            Yes
Mean group size:                      11.2
-----------------------------------------------------------------------------------------------------------------------
                                                                      Coef.     Std.Err.   z   P>|z|  [0.025    0.975]
-----------------------------------------------------------------------------------------------------------------------
Intercept                                                            12195.417  1295.904 9.411 0.000 9655.493 14735.342
C(okres, Treatment(reference='sierpien_2023'))[T.wrzesien_2023]        278.596   183.883 1.515 0.130  -81.809   639.001
C(okres, Treatment(reference='sierpien_2023'))[T.pazdziernik_2023]     502.919   183.883 2.735 0.006  142.514   863.324
C(okres, Treatment(reference='sierpien_2023'))[T.listopad_2023]        691.731   183.883 3.762 0.000  331.326  1052.136
C(okres, Treatment(reference='sierpien_2023'))[T.grudzien_2023]       1304.712   183.883 7.095 0.000  944.307  1665.117
C(okres, Treatment(reference='sierpien_2023'))[T.styczen_2024]        1477.257   183.883 8.034 0.000 1116.852  1837.662
C(okres, Treatment(reference='sierpien_2023'))[T.luty_2024]           1679.718   183.883 9.135 0.000 1319.313  2040.123
C(okres, Treatment(reference='sierpien_2023'))[T.marzec_2024]         1758.921   183.883 9.565 0.000 1398.516  2119.326
C(okres, Treatment(reference='sierpien_2023'))[T.kwiecien_2024]       1808.580   183.883 9.835 0.000 1448.175  2168.985
Group Var                                                          6649133.638 19523.973
=======================================================================================================================

<h1>2010 - 2023<h1>

In [31]:
df1 = pd.read_csv('../Datasets/Average_Prices/Ready _to_use/domy_2010_2015_przerobione.csv')
df2 = pd.read_csv('../Datasets/Average_Prices/Ready _to_use/domy_2016_2022_przerobione.csv')
df3 = pd.read_csv('../Datasets/Average_Prices/Ready _to_use/domy_2023_przerobione_srednie.csv')
df_all_2010_2023 = pd.concat([df1,df2,df3], ignore_index=True)
df_all_2010_2023.head(70000)

,rok,Białystok_laczny_rynek,Białystok_pierwotny_rynek,Białystok_wtorny_rynek,Gdańsk_laczny_rynek,Gdańsk_pierwotny_rynek,Gdańsk_wtorny_rynek,Kraków_laczny_rynek,Kraków_pierwotny_rynek,Kraków_wtorny_rynek,...,Szczecin_wtorny_rynek,Warszawa_laczny_rynek,Warszawa_pierwotny_rynek,Warszawa_wtorny_rynek,Wrocław_laczny_rynek,Wrocław_pierwotny_rynek,Wrocław_wtorny_rynek,Łódź_laczny_rynek,Łódź_pierwotny_rynek,Łódź_wtorny_rynek
0,2010,4353.0,4369.0,4234.0,5258.0,5129.0,5535.0,6282.00,6359.0,6131.0,...,4319.0,7794.000000,7584.0,7848.0,5617.00,5899.0,5381.0,4009.0,5123.0,3735.0
1,2011,4485.0,4519.0,4348.0,5418.0,5538.0,5332.0,6405.00,6512.0,6133.0,...,4120.0,7723.000000,7499.0,7795.0,5758.00,6137.0,5329.0,3821.0,4917.0,3654.0
2,2012,4457.0,4512.0,4092.0,5330.0,5573.0,5015.0,6254.00,6438.0,5882.0,...,3814.0,7363.000000,7398.0,7343.0,5381.00,5747.0,4979.0,3715.0,4690.0,3417.0
3,2013,4355.0,4444.0,4093.0,5090.0,5319.0,4800.0,5959.00,6086.0,5634.0,...,3753.0,6927.000000,6900.0,6939.0,5183.00,5492.0,4777.0,3743.0,4646.0,3247.0
4,2014,4345.0,4463.0,4000.0,5157.0,5377.0,4922.0,6184.00,6321.0,5684.0,...,3799.0,7105.000000,7011.0,7174.0,5206.00,5500.0,4825.0,3581.0,4538.0,3234.0
5,2015,4438.0,4693.0,3974.0,5282.0,5447.0,4984.0,6102.00,6260.0,5787.0,...,3878.0,7257.000000,7267.0,7248.0,5244.00,5502.0,4894.0,3534.0,4675.0,3241.0
6,2016,4401.0,4503.0,3967.0,5491.0,5635.0,5226.0,6180.00,6299.0,5920.0,...,3921.0,7346.000000,7328.0,7371.0,5409.00,5735.0,5000.0,3576.0,4705.0,3319.0
7,2017,4593.0,4711.0,4130.0,5994.0,6120.0,5867.0,6246.00,6293.0,6159.0,...,4198.0,7754.000000,7684.0,7816.0,5674.00,5914.0,5274.0,4056.0,4798.0,3587.0
8,2018,4747.0,4796.0,4636.0,6656.0,6667.0,6631.0,6511.00,6504.0,6540.0,...,4603.0,8144.000000,7830.0,8314.0,5906.00,5983.0,5777.0,4434.0,5090.0,3970.0
9,2019,5176.0,5120.0,5277.0,7193.0,6913.0,7508.0,7002.00,6795.0,7503.0,...,5272.0,8723.000000,7987.0,9227.0,6279.00,6251.0,6316.0,4991.0,5518.0,4558.0
10,2020,5757.0,5664.0,6006.0,7935.0,7527.0,8500.0,8094.00,7891.0,8405.0,...,5551.0,9327.000000,8479.0,10392.0,7055.00,6741.0,7494.0,5541.0,5813.0,5212.0
11,2021,6162.0,6063.0,6598.0,8836.0,8137.0,9333.0,8869.00,8509.0,9316.0,...,6600.0,10495.000000,9473.0,11281.0,8019.00,7838.0,8377.0,6145.0,6422.0,5745.0
12,2022,6596.0,6322.0,7692.0,9431.0,8864.0,10669.0,10087.00,9757.0,10720.0,...,7587.0,11705.000000,10206.0,12637.0,8907.00,8453.0,9539.0,6759.0,6992.0,6389.0
13,2023,NaN,NaN,NaN,10006.5,NaN,NaN,11288.25,NaN,NaN,...,NaN,10966.666667,NaN,NaN,10216.75,NaN,NaN,NaN,NaN,NaN

In [32]:
df_all_2010_2023_wybrane_kolumy_miasta = df_all_2010_2023[['rok','Gdańsk_laczny_rynek','Kraków_laczny_rynek','Poznań_laczny_rynek','Warszawa_laczny_rynek','Wrocław_laczny_rynek']]  
df_all_2010_2023_wybrane_kolumy_miasta.head(10000)
df_all_2010_2023_wybrane_kolumy_miasta.head()

,rok,Gdańsk_laczny_rynek,Kraków_laczny_rynek,Poznań_laczny_rynek,Warszawa_laczny_rynek,Wrocław_laczny_rynek
0,2010,5258.0,6282.0,5735.0,7794.0,5617.0
1,2011,5418.0,6405.0,5859.0,7723.0,5758.0
2,2012,5330.0,6254.0,5497.0,7363.0,5381.0
3,2013,5090.0,5959.0,5451.0,6927.0,5183.0
4,2014,5157.0,6184.0,5581.0,7105.0,5206.0

In [48]:
df_2023_wybrane_kolumy_miasta_copy = df_all_2010_2023_wybrane_kolumy_miasta.copy()
df_2023_wybrane_kolumy_miasta_copy.head()

,rok,Gdańsk_laczny_rynek,Kraków_laczny_rynek,Poznań_laczny_rynek,Warszawa_laczny_rynek,Wrocław_laczny_rynek
0,2010,5258.0,6282.0,5735.0,7794.0,5617.0
1,2011,5418.0,6405.0,5859.0,7723.0,5758.0
2,2012,5330.0,6254.0,5497.0,7363.0,5381.0
3,2013,5090.0,5959.0,5451.0,6927.0,5183.0
4,2014,5157.0,6184.0,5581.0,7105.0,5206.0

In [45]:
# Melt the dataframe for repeated measures analysis
df_melt = pd.melt(df_2023_wybrane_kolumy_miasta_copy, id_vars=['rok'], value_vars=[
                  'Gdańsk_laczny_rynek', 'Kraków_laczny_rynek', 'Poznań_laczny_rynek', 'Warszawa_laczny_rynek', 'Wrocław_laczny_rynek'])

df_melt.columns = ['rok', 'miasto', 'wartość']

# Perform Repeated Measures ANOVA
aovrm = AnovaRM(df_melt, 'wartość', 'miasto', within=['rok'])
res = aovrm.fit()

print(res)

              Anova
==================================
    F Value  Num DF  Den DF Pr > F
----------------------------------
rok 97.8264 13.0000 52.0000 0.0000
==================================

choose one of the years

In [46]:

df_2023_wybrane_kolumy_miasta_copy = df_2023_wybrane_kolumy_miasta_copy.melt(id_vars=["rok"], var_name="Miasto", value_name="Laczny_rynek")

# Definition of a mixed-effects model
model = mixedlm("Laczny_rynek ~ C(rok,Treatment(reference=2010))", df_2023_wybrane_kolumy_miasta_copy, groups=df_2023_wybrane_kolumy_miasta_copy["Miasto"])
result = model.fit()

print(result.summary())

                           Mixed Linear Model Regression Results
============================================================================================
Model:                        MixedLM            Dependent Variable:            Laczny_rynek
No. Observations:             70                 Method:                        REML
No. Groups:                   5                  Scale:                         118591.2558
Min. group size:              14                 Log-Likelihood:                -426.8365
Max. group size:              14                 Converged:                     Yes
Mean group size:              14.0
--------------------------------------------------------------------------------------------
                                            Coef.    Std.Err.   z    P>|z|  [0.025   0.975]
--------------------------------------------------------------------------------------------
Intercept                                   6137.200  415.369 14.775 0.000 5323.092 6951.308
C(rok, Treatment(reference=2010))[T.2011]     95.400  217.799  0.438 0.661 -331.479  522.279
C(rok, Treatment(reference=2010))[T.2012]   -172.200  217.799 -0.791 0.429 -599.079  254.679
C(rok, Treatment(reference=2010))[T.2013]   -415.200  217.799 -1.906 0.057 -842.079   11.679
C(rok, Treatment(reference=2010))[T.2014]   -290.600  217.799 -1.334 0.182 -717.479  136.279
C(rok, Treatment(reference=2010))[T.2015]   -230.200  217.799 -1.057 0.291 -657.079  196.679
C(rok, Treatment(reference=2010))[T.2016]   -107.600  217.799 -0.494 0.621 -534.479  319.279
C(rok, Treatment(reference=2010))[T.2017]    175.800  217.799  0.807 0.420 -251.079  602.679
C(rok, Treatment(reference=2010))[T.2018]    544.400  217.799  2.500 0.012  117.521  971.279
C(rok, Treatment(reference=2010))[T.2019]   1002.200  217.799  4.601 0.000  575.321 1429.079
C(rok, Treatment(reference=2010))[T.2020]   1724.000  217.799  7.916 0.000 1297.121 2150.879
C(rok, Treatment(reference=2010))[T.2021]   2632.600  217.799 12.087 0.000 2205.721 3059.479
C(rok, Treatment(reference=2010))[T.2022]   3551.800  217.799 16.308 0.000 3124.921 3978.679
C(rok, Treatment(reference=2010))[T.2023]   4177.633  217.799 19.181 0.000 3750.755 4604.512
Group Var                                 744065.768 1603.515
============================================================================================

In [49]:
df_2023_wybrane_kolumy_miasta_copy = df_2023_wybrane_kolumy_miasta_copy.melt(id_vars=["rok"], var_name="Miasto", value_name="Laczny_rynek")

# Definition of a mixed-effects model
model = mixedlm("Laczny_rynek ~ C(rok,Treatment(reference=2022))", df_2023_wybrane_kolumy_miasta_copy, groups=df_2023_wybrane_kolumy_miasta_copy["Miasto"])
result = model.fit()

print(result.summary())

                             Mixed Linear Model Regression Results
===============================================================================================
Model:                         MixedLM             Dependent Variable:             Laczny_rynek
No. Observations:              70                  Method:                         REML
No. Groups:                    5                   Scale:                          118591.2558
Min. group size:               14                  Log-Likelihood:                 -426.8365
Max. group size:               14                  Converged:                      Yes
Mean group size:               14.0
-----------------------------------------------------------------------------------------------
                                            Coef.    Std.Err.    z    P>|z|   [0.025    0.975]
-----------------------------------------------------------------------------------------------
Intercept                                   9689.000  415.369  23.326 0.000  8874.892 10503.108
C(rok, Treatment(reference=2022))[T.2010]  -3551.800  217.799 -16.308 0.000 -3978.679 -3124.921
C(rok, Treatment(reference=2022))[T.2011]  -3456.400  217.799 -15.870 0.000 -3883.279 -3029.521
C(rok, Treatment(reference=2022))[T.2012]  -3724.000  217.799 -17.098 0.000 -4150.879 -3297.121
C(rok, Treatment(reference=2022))[T.2013]  -3967.000  217.799 -18.214 0.000 -4393.879 -3540.121
C(rok, Treatment(reference=2022))[T.2014]  -3842.400  217.799 -17.642 0.000 -4269.279 -3415.521
C(rok, Treatment(reference=2022))[T.2015]  -3782.000  217.799 -17.365 0.000 -4208.879 -3355.121
C(rok, Treatment(reference=2022))[T.2016]  -3659.400  217.799 -16.802 0.000 -4086.279 -3232.521
C(rok, Treatment(reference=2022))[T.2017]  -3376.000  217.799 -15.501 0.000 -3802.879 -2949.121
C(rok, Treatment(reference=2022))[T.2018]  -3007.400  217.799 -13.808 0.000 -3434.279 -2580.521
C(rok, Treatment(reference=2022))[T.2019]  -2549.600  217.799 -11.706 0.000 -2976.479 -2122.721
C(rok, Treatment(reference=2022))[T.2020]  -1827.800  217.799  -8.392 0.000 -2254.679 -1400.921
C(rok, Treatment(reference=2022))[T.2021]   -919.200  217.799  -4.220 0.000 -1346.079  -492.321
C(rok, Treatment(reference=2022))[T.2023]    625.833  217.799   2.873 0.004   198.955  1052.712
Group Var                                 744065.768 1603.515
===============================================================================================